#crafting-scholars-logo {
	width: 100px;
	height: auto;
}
#math-reference-chart{
	width: 600px;
	height: auto;
}
.math-question-img{
	width: 300px;
	height: auto;
}
input[type=radio]{
	background-color: black;
}
.section-intro li{
	text-align: left;
}
.section-questions li{
	margin-bottom: 10px;
}
