.container{
	width: 90%;
	margin: 0 auto;
}

#crafting-scholars-logo {
	width: 100px;
	height: auto;
}

#directions {
	background-color: black;
	color: white;
}
.section-intro{
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
.section-content{
	border-right: .75px solid grey;
	padding-right: 5px;
	height: 40%;
	overflow: auto;
	}
.question-marker {
	display: inline;
}