.container{
	width: 90%;
	margin: 0 auto;
}

#crafting-scholars-logo {
	width: 100px;
	height: auto;
}

#directions {
	background-color: black;
	color: white;
}
.section-intro{
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
.section-content{
	width:50%;
	float: left;
}
.section-questions{
	width:50%;
	float: right;
}
.footer{
	width: 100%;
	text-align: center;
	float: left;
	margin-top: 40px;
	padding-bottom: 20px;

}