<!DOCTYPE html>
<html>

<head>
    <title>Crafting Scholars Prototype</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/wireframe.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="nav">
                <ul>
                    <li><a href="./readingTemplate.html">Reading</a></li>
                    <li><a href="./writingTemplate.html">Writing</a></li>
                    <li><a href="./mathWithCalcTemplate.html">Math - with calculator</a></li>
                    <li><a href="./mathWithoutCalcTemplate.html">Math - without calculator</a></li>
                </ul>
            </div>
            <div class="section-intro">
                <img id="crafting-scholars-logo" src="../img/craftingScholarsLogo.png" alt="Crafting Scholars Logo">
                <h1>Math Test - With Calculator</h1>
                <h3>25 MINUTES, 20 QUESTIONS</h3>
                <p>Turn to Section 3 of your answer sheet to answer the questions in this section.</p>
            </div>
            <hr style="height:2px;border:none;color:#333;background-color:#333;">
            <div class="section-intro">
                <h5 id="directions">DIRECTIONS</h5>
                <p>For questions 1-15, solve each problem, choose the best answer from the choices provided, and fill in the corresponding circle on your answer sheet. For questions 16-20, solve the problem and enter your answer in the grid on the answer sheet. Please refer to the directions before question 16 on how to enter your answers in the grid. You may use any available space in your test booklet for scratch work.
                </p>
                <h5 id="directions">NOTES</h5>
                <ol>
                    <li>The use of a calculator is not permitted.</li>
                    <li>All variables and expressions used represent real numbers unless otherwise indicated.</li>
                    <li>Figures provided in this test are drawn to scale unless otherwise indicated.</li>
                    <li>All figures lie in a plane unless otherwise indicated.</li>
                    <li>Unless otherwise indicated, the domain of a given function f is the set of all real numbers x for which f(x) is a real number.</li>
                </ol>
                <h5 id="directions">REFERENCES</h5>
                <img src="../img/references.png" alt="references" style="height: 300px; width: auto;">
            </div>
            <hr style="height:2px;border:none;color:#333;background-color:#333;">
        </div>
        <!-- END OF HEADER ^^^ ABOVE CAN BE A CONTAINER -->
        <div class="content">
            <div class="section-content">
            </div>
            <div class="section-questions">
                <form method="POST" action="#" subject="Math-Test" enctype="text/plain">
                    <div class="question">
                        <p class="question-marker">5</p>
                        <p></p>
                        <input type="radio" name="5" value="a">
                        <input type="radio" name="5" value="b">
                        <input type="radio" name="5" value="c">
                        <input type="radio" name="5" value="d">
                    </div>
                </form>
            </div>
        </div>
        <!-- END OF CONTENT ^^^ABOVE CAN BE A CONTAINER -->
        <div class="footer">
            <h1><strong>END OF SECTION</strong></h1>
        </div>
    </div>
</body>

</html>