<!DOCTYPE html>
<html>

<head>
    <title>Crafting Scholars Prototype</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/wireframe.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="nav">
                <ul>
                    <li><a href="./readingTemplate.html">Reading</a></li>
                    <li><a href="./writingTemplate.html">Writing</a></li>
                    <li><a href="./mathWithCalcTemplate.html">Math - with calculator</a></li>
                    <li><a href="./mathWithoutCalcTemplate.html">Math - without calculator</a></li>
                </ul>
            </div>
            <div class="section-intro">
                <img id="crafting-scholars-logo" src="../img/craftingScholarsLogo.png" alt="Crafting Scholars Logo">
                <h1>Math Test - No Calculator</h1>
                <h3>25 MINUTES, 20 QUESTIONS</h3>
                <p>Turn to Section 3 of your answer sheet to answer the questions in this section.</p>
            </div>
            <hr style="height:2px;border:none;color:#333;background-color:#333;">
            <div class="section-intro">
                <h5 id="directions">DIRECTIONS</h5>
                <p>For questions 1-15, solve each problem, choose the best answer from the choices provided, and fill in the corresponding circle on your answer sheet. For questions 16-20, solve the problem and enter your answer in the grid on the answer sheet. Please refer to the directions before question 16 on how to enter your answers in the grid. You may use any available space in your test booklet for scratch work.
                </p>
                <h5 id="directions">NOTES</h5>
                <ol>
                    <li>The use of a calculator is not permitted.</li>
                    <li>All variables and expressions used represent real numbers unless otherwise indicated.</li>
                    <li>Figures provided in this test are drawn to scale unless otherwise indicated.</li>
                    <li>All figures lie in a plane unless otherwise indicated.</li>
                    <li>Unless otherwise indicated, the domain of a given function f is the set of all real numbers x for which f(x) is a real number.</li>
                </ol>
                <h5 id="directions">REFERENCES</h5>
                <img src="../img/references.png" alt="references" style="height: 300px; width: auto;">
            </div>
            <hr style="height:2px;border:none;color:#333;background-color:#333;">
        </div>
        <!-- END OF HEADER ^^^ ABOVE CAN BE A CONTAINER -->
        <div class="content">
            <div class="section-content">
            </div>
            <div class="math-section-questions">
                <form method="POST" action="#" subject="math-without-calc" enctype="text/plain">
                    <div class="question">
                        <p class="question-marker">1</p>
                        <p>If 5 + 6 = 10 x , what is the value of 10 + 3 x ?</p>
                        <input type="radio" name="1" value="a"> 4
                        <input type="radio" name="1" value="b"> 9
                        <input type="radio" name="1" value="c"> 11
                        <input type="radio" name="1" value="d"> 20
                    </div>
                    <div class="question">
                        <p class="question-marker">2</p>
                        <p>x + y = 0</p>
                        <p>3 − 2 = 10</p>
                        <p>Which of the following ordered pairs (, ) x y satisfies the system of equations above?</p>
                        <input type="radio" name="2" value="a"> (3, −2)
                        <input type="radio" name="2" value="b"> (2, −2)
                        <input type="radio" name="2" value="c"> (−2, 2)
                        <input type="radio" name="2" value="d"> (−2, −2)
                    </div>
                    <div class="question">
                        <p class="question-marker">3</p>
                        <p>A landscaping company estimates the price of a job, in dollars, using the expression 60 + 12nh, where n is the number of landscapers who will be working and h is the total number of hours the job will take using n landscapers. Which of the following is the best interpretation of the number 12 in the expression?
                        </p>
                        <input type="radio" name="3" value="a"> The company charges $12 per hour for each landscaper.
                        <input type="radio" name="3" value="b"> A minimum of 12 landscapers will work on each job.
                        <input type="radio" name="3" value="c"> The price of every job increases by $12 every hour.
                        <input type="radio" name="3" value="d"> Each landscaper works 12 hours a day.
                    </div>
                    <div class="question">
                        <p class="question-marker">4</p>
                        <p></p>
                        <select name="math-short-answer-1">
                            <option value=".">.</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <select name="math-short-answer-2">
                            <option value="/">/</option>
                            <option value=".">.</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <select name="math-short-answer-3">
                            <option value="/">/</option>
                            <option value=".">.</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <select name="math-short-answer-4">
                            <option value=".">.</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                    <div class="question">
                        <p class="question-marker">5</p>
                        <p></p>
                        <select name="math-short-answer-1">
                            <option value=".">.</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <select name="math-short-answer-2">
                            <option value="/">/</option>
                            <option value=".">.</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <select name="math-short-answer-3">
                            <option value="/">/</option>
                            <option value=".">.</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        <select name="math-short-answer-4">
                            <option value=".">.</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <!-- END OF CONTENT ^^^ABOVE CAN BE A CONTAINER -->
        <div class="footer">
            <h1><strong>END OF SECTION</strong></h1>
        </div>
    </div>
</body>

</html>